<header class="header">
  <app-menu-bar></app-menu-bar>
</header>
<section class="menu_title">
  <app-menu-title></app-menu-title>
</section>
<section class="articles">
  <article class="articles_main">
    <app-big-card
      photoCover="../../../assets/img/diablo-iv.jpg"
      cardTitle="Título da matéria"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error totam quisquam perspiciatis autem id nulla tenetur, ducimus animi atque obcaecati?"
    ></app-big-card>
  </article>
  <article class="articles_others">
    <app-small-card
      descriptionPhoto="Fevereiro 19, 2024"
      photoCover="../../../assets/img/overwatch-2.webp"
      cardTitle="Overwatch 2"
    ></app-small-card>
    <app-small-card
      descriptionPhoto="Fevereiro 10, 2024"
      photoCover="../../../assets/img/path-of-exile.jpg"
      cardTitle="Path Of Exile"
    ></app-small-card>
    <app-small-card
      descriptionPhoto="Janeiro 01, 2024"
      photoCover="../../../assets/img/pokemmo.png"
      cardTitle="PokeMMO"
    ></app-small-card>
  </article>
</section>
