<section class="menu_title">
  <app-menu-title></app-menu-title>
</section>
<section class="articles">
  <article class="articles_main">
    <app-big-card
      Id="1"
      photoCover="../../../assets/img/diablo-iv.jpg"
      cardTitle="Diablo 4: Novo jogo da Blizzard"
      cardDescription="Diablo 4 é a mais nova sequência da aclamada franquia de RPG de ação da Blizzard Entertainment. Sua base se assemelha bastante aos outros títulos da franquia, com destaque para o bom número de dungeons e diferentes classes disponíveis. Porém, o game apresenta alguns elementos novos e uma evolução gráfica perceptível."
    ></app-big-card>
  </article>
  <article class="articles_others">
    <app-small-card
      Id="2"
      descriptionPhoto="Fevereiro 19, 2024"
      photoCover="../../../assets/img/overwatch-2.webp"
      cardTitle="Lançamento Overwatch 2"
    ></app-small-card>
    <app-small-card
      Id="3"
      descriptionPhoto="Fevereiro 10, 2024"
      photoCover="../../../assets/img/path-of-exile.jpg"
      cardTitle="Nova temporada do jogo Path Of Exile"
    ></app-small-card>
    <app-small-card
      Id="4"
      descriptionPhoto="Janeiro 01, 2024"
      photoCover="../../../assets/img/pokemmo.png"
      cardTitle="Servidor de Pokemon: PokeMMO"
    ></app-small-card>
  </article>
</section>
